h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 37px;
    line-height: 44px;
    font-weight: 400
}

a {
    -webkit-transition: opacity 500ms ease,box-shadow 500ms ease,color 500ms ease,background-color 500ms ease;
    transition: opacity 500ms ease,box-shadow 500ms ease,color 500ms ease,background-color 500ms ease;
    text-decoration: underline
}

.body>div {
    z-index: 2
}

#particles {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0
}

.body {
    background-color: #373737;
    background-image: url(../images/hero-bg.jpg);
    background-position: 35% 0;
    background-size: 1440px;
    background-repeat: no-repeat;
    font-family: Verdana,Geneva,sans-serif;
    color: #efefef;
    font-size: 17px
}

#add,#emission,#rashod,#sites,#token,#team,#footer {
    background-color: #313131
}

.head-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 120px 20px
}

.h-nav {
    position: absolute;
    left: 0;
    top: 40px;
    right: 0;
    padding-right: 20px;
    padding-left: 20px;
    background-color: transparent
}

.h-nav-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.h-nav-logo {
    width: 200px
}

.h-menu {
    margin-left: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-top: 6px
}

.nav-link {
    margin-right: 30px;
    padding: 0;
    font-size: 13px;
    line-height: 15px
}

.brand span,.nav-link:hover {
    color: #f93
}

.nav-link,.nav-link.w--current {
    color: rgba(255,255,255,.5)
}

.nav-link.nl-lang {
    margin-right: 0;
    margin-left: 5px;
    display: inline-block;
    width: 25px
}

.nav-link.nl-lang.w--current {
    color: #fff
}

.nav-lang {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-top: 6px
}

.nav-lang.nl-mob {
    display: none
}

.container-head,.h-text-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.container-head {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 45px;
    max-width: 1240px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.h-text-wrap {
    max-width: 675px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80px;
    line-height: 90px
}

.orange-span {
    color: #ff9a1e
}

.h-subtitle {
    margin-top: 17px;
    line-height: 30px
}

.h-btns {
    margin-top: 25px
}

.btn {
    width: 147px;
    margin-right: 16px;
    padding: 11px 20px 14px;
    border: 2px solid #f93;
    border-radius: 80px;
    color: #fff;
    line-height: 17px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    font-size: 14px
}

.btn:hover {
    background-color: #f93
}

.btn.b1 {
    background-color: #ff9a1e;
    box-shadow: 0 1px 24px 0 rgba(255,153,51,.5)
}

.btn.b1:hover {
    box-shadow: none
}

.h-form-title {
    font-size: 24px;
    line-height: 36px
}

.h-form-title.hft2 {
    margin-top: 0
}

.form-block {
    margin-top: 10px;
    margin-bottom: 0
}

.form-block.fbf {
    width: 100%;
    max-width: 536px;
    margin-top: 20px
}

.form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 6.5px 20px;
    border: 2px solid #f93;
    border-radius: 80px
}

.form-btn,.text-field {
    background-color: transparent
}

.form-btn {
    padding: 0;
    -webkit-transition: color 500ms ease;
    transition: color 500ms ease;
    font-weight: 700;
    text-transform: uppercase;
    color: #f93;
    font-size: 13px;
    line-height: 15px
}

.form-btn:hover {
    color: #fff
}

.text-field {
    width: 380px;
    height: 30px;
    margin-top: -1px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 0 solid #000;
    color: #fff;
    font-size: 15px;
    line-height: 30px
}

.text-field.zh {
  margin-right: 80px;
}

.text-field.en {
  margin-right: 40px;
}

.soc-links {
    display: block;
    margin-top: 15px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

#view .h2.h2-2,.soc-links.sl-f {
    margin-top: 20px
}

.soc-link {
    margin-right: 10px
}

.soc-link:hover {
    opacity: 1
}

.soc-link.sl-f {
    margin-right: 6px;
    margin-left: 6px;
    opacity: 1
}

.soc-link,.soc-link.sl-f:hover {
    opacity: .3
}

.section {
    overflow: hidden;
    padding: 80px 20px
}

.section.sf {
    padding-bottom: 60px
}

.container {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.container.cont2,.container.f-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.container.cont2 {
    display: block
}

.container.f-cont {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.h2 {
    max-width: 480px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 37px;
    line-height: 42px;
    text-align: left
}

.h2.h2-2 {
    margin-top: 40px
}

.h2-wrap,.user-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.user-items {
    width: 100%;
    margin-top: 80px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.user-item {
    width: 33.33333333%;
    margin-bottom: 60px;
    padding-right: 30px
}

.user-item.ui2 {
    padding-right: 20px
}

.ui-line,.ui-top {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.ui-line {
    height: 4px;
    margin-top: -4px;
    margin-left: 15px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-image: url(../images/dot-w.png);
    background-position: 0 50%;
    background-size: contain
}

.ui-line.ul2 {
    margin-right: 7px;
    margin-left: 8px;
    border-top-color: #f93;
    background-image: url(../images/dot-y.png)
}

.ui-line.ul-left {
    position: absolute;
    left: -110px;
    top: 25px;
    bottom: 0;
    width: 105px;
    margin-top: -2px;
    margin-left: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto
}

.ui-line.ul-left.ull2 {
    top: 17px;
    background-image: url(../images/dot-y.png)
}

.ui-arr {
    margin-top: -3px;
    margin-right: -4px
}

.ui-arr.ua2 {
    margin-right: 0
}

.ui-arr.arr-mob {
    display: none
}

.ui-line-over {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-image: -webkit-linear-gradient(0deg,#373737,rgba(55,55,55,0) 0%,#373737 100%,#373737);
    background-image: linear-gradient(90deg,#373737,rgba(55,55,55,0) 0%,#373737 100%,#373737)
}

.ui-line-over.ulo2 {
    background-image: -webkit-linear-gradient(180deg,rgba(55,55,55,0),#373737 100%,#373737);
    background-image: linear-gradient(270deg,rgba(55,55,55,0),#373737 100%,#373737)
}

.year {
    padding: 7px 20px;
    border-radius: 4px;
    background-color: #f93;
    color: #000;
    line-height: 17px;
    font-weight: 400
}

.year-text {
    max-width: 320px;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 15px
}

.team-cont {
    width: 100%;
    margin-left: -20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px
}

.team-cont,.team-item,.team-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.team-item {
    width: 33.33333333%;
    max-width: 460px;
    margin-top: 50px;
    padding-right: 13px;
    padding-left: 13px
}

.team-top {
    margin-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.team-img {
    width: 100px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.team-img img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.f-p,.team-p,.team-status {
    font-size: 13px;
    line-height: 15px
}

.team-status {
    color: #f93
}

.f-p,.team-p {
    margin-top: 20px;
    margin-bottom: 0
}

.f-p {
    max-width: 800px;
    margin-top: 60px;
    color: #7f7f7f;
    font-size: 10px;
    line-height: 18px;
    text-align: center
}

.success-msg {
    height: 52px;
    padding: 15px 15px 15px 0;
    background-color: transparent;
    color: #f93;
    text-align: left
}

.success-msg.sm2 {
    text-align: center
}

.error-message {
    padding: 0 0 0 20px;
    background-color: transparent;
    color: #ff4242
}

.h-bot-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto
}

.bg-logo-cont,.bg-logo-img {
    margin-right: auto;
    margin-left: auto
}

.bg-logo-cont {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    max-width: 1080px
}

.bg-logo-img {
    display: block
}

.sharpay-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 260px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.sb-text {
    margin-left: 10px;
    font-size: 13px;
    line-height: 15px;
    font-style: italic;
    font-weight: 700
}

.sb-link {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-image: url(../images/fix-btn.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat
}

.sb-ico {
    width: 19px;
    margin-right: 6px
}

.fb-ico {
    margin-right: 5px
}

._4-icons,.icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

._4-icons {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40px;
    height: 160px
}

.icon {
    width: 100%;
    height: 25%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.sb-link-wrap {
    position: relative;
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 200px
}

.l-col {
    max-width: 60%;
    min-width: 50%;
    padding-right: 40px
}

.l-col.lc2,.l-col.lc3 {
    padding-right: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto
}

.l-col.lc2 {
    max-width: 70%;
    min-width: 0
}

.l-col.lc3 {
    width: 60%;
    min-width: 0%
}

.l-col,.r-col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.r-col.rc3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.r-col.rc4 {
    max-width: 40%;
    padding-left: 40px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto
}

.big-p {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 23px;
    line-height: 21px
}

.l-col.lc3 {
  width: 50%;
}

#add .big-p {
    font-size: 17px;
}

#add .add-block {
  display: flex;
  align-items: center;
}

#add .add-block.second-row {
  margin-top: 20px;
}

#add .icon-wrapper {
  flex-basis: 70px;
  flex-grow: 0;
  width: 70px;
  height: 70px;
  max-width: 70px;
  max-height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#add .add-icon {
  flex-basis: 70px;
  flex-grow: 0;
  width: 70px;
  height: 70px;
  max-width: 70px;
  max-height: 70px;
}

#add #traffic-icon {
  flex-basis: 50px;
  flex-grow: 0;
  width: 55px;
  height: 55px;
  max-width: 55px;
  max-height: 55px;
}

#add #usability-icon {
  flex-basis: 60px;
  flex-grow: 0;
  width: 60px;
  height: 60px;
  max-width: 60px;
  max-height: 60px;

  margin: 0 5px; /* to set width of .icon-wrapper to 70px, nothing else works */

}

#add .add-text {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 30px;
}

#add .right-col-text {
  padding: 0px 12px;
}

.big-p.bp2 {
    margin-top: 0
}

.big-p.bp-r {
    text-align: right
}

.clock {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -20px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    width: 85%
}

.big-p.bp-r,.table {
    margin-top: 20px
}

.tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    line-height: 27px
}

.tr-line::before {
    background: #f93;
    background: -moz-linear-gradient(left,#f93 0%,#f93 31%,rgba(255,153,51,0) 100%);
    background: -webkit-linear-gradient(left,#f93 0%,#f93 31%,rgba(255,153,51,0) 100%);
    background: linear-gradient(to right,#f93 0%,#f93 31%,rgba(255,153,51,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9933', endColorstr='#00ff9933',GradientType=1 );
    content: "";
    display: block;
    height: 3px;
    width: 100%
}

.t-percent {
    width: 80px;
    margin-right: 10px;
    margin-left: 10px;
    color: #f93;
    text-align: center
}

.t-percent.tp2 {
    color: #fff
}

.row-title {
    margin-right: 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.brand {
    font-weight: 700;
    font-style: italic
}

.clock-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    height: 120px;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 6px solid #f93;
    border-radius: 200px
}

.clock-time {
    font-size: 37px;
    line-height: 42px
}

.row-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.row-l-col {
    width: 60%;
    max-width: 680px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto
}

.row-r-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40px;
    padding-top: 40px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.row-r-col.rr2 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.p {
    margin-top: 20px;
    margin-bottom: 0
}

.p.p2 {
    margin-top: 40px
}


#btn-img-container {
  display: flex;
  flex-direction: column;
  padding-top: 66px;
  padding-bottom: 22px;
  margin-left: 90px;
}

#bi1,#bi3,#bi4 {
    width: 160px
}

#bi2 {
    width: 200px;
}

#soc-plugged {
    margin-top: 54px;
    margin-left: 90px;
}

#soc-future {
    margin-left: 90px;
    padding-top: 22px;
}

.soc-img {
    margin-right: 10px
}

#soc-img-plus {
  margin-left: 6px;
}

.sheme1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 700px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.img,.sheme1,.sheme2 {
    width: 100%
}

.sheme2 {
    display: inline-block;
    max-width: 480px;
    margin-left: 40px
}

#vikup .sheme2 {
    max-width: 350px;
}

.sheme3 {
    width: 100%;
    margin-top: 30px
}

.r-col-adds {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.r-col-adds {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.sharpay-img {
    display: block;
    width: 600px;
    height: 600px;
    margin-top: -72px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../images/sharpay-img.png);
    background-position: 87% 50%;
    background-size: cover;
    background-repeat: no-repeat
}

.sharpay-img.si2 {
    width: 600px;
    height: 600px;
    margin-top: -150px;
    background-size: contain
}

.diag-item,.diag-table {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.diag-item {
    margin-top: 40px
}

.diag-table {
    margin-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.diag-table.dt-1 {
    width: 250px
}

.diag-table.dt-2 {
    margin-top: 80px;
    margin-left: -20px;
    width: 250px;
    max-width: 250px
}

.circle {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 40px;
    background-color: #4285f4
}

.circle.c2 {
    background-color: #db4437
}

.circle.c3 {
    background-color: #f4b400
}

.circle.c4 {
    background-color: #0f9d58
}

.circle.c5 {
    background-color: #ab47bc
}

.circle.c6 {
    background-color: #00acc1
}

.diag-row,.sb-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.diag-row {
    margin-bottom: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.sb-cont {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 40px;
    z-index: 5;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px
}

html.w-mod-js [data-ix=bg-logo-init] {
    display: none;
    opacity: 0
}

html.w-mod-js [data-ix=fb-logo1],html.w-mod-js [data-ix=tw-logo] {
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%)
}

html.w-mod-js [data-ix=sb-logo] {
    opacity: 1
}

html.w-mod-js [data-ix=l-init] {
    opacity: 0;
    -webkit-transform: translate(-100px,0);
    -ms-transform: translate(-100px,0);
    transform: translate(-100px,0)
}

html.w-mod-js [data-ix=bot-init] {
    opacity: 0;
    -webkit-transform: translate(0,40px);
    -ms-transform: translate(0,40px);
    transform: translate(0,40px)
}

html.w-mod-js [data-ix=r-init] {
    opacity: 0;
    -webkit-transform: translate(100px,0);
    -ms-transform: translate(100px,0);
    transform: translate(100px,0)
}

.plus-icon {
    margin-top: 6px
}

#head {
    padding-bottom: 145px
}

img.flag {
    width: 16px;
    height: 16px;
    margin-right: -2px;
    margin-left: 2px
}

.nav-link img.flag {
    width: 20px;
    height: 20px
}

.team-status {
    margin-top: 2px
}

#rashod {
    padding-bottom: 70px
}

#presale {
    font-size: 17px
}

#emission {
    padding-bottom: 80px
}

#users h2 {
    margin-bottom: 40px
}

.highcharts-container {
    margin: 0 auto
}

#emission .diag-img {
    margin: 0 -20px -20px -40px
}

#rashod .r-col .sheme2 {
    width: 40%;
    float: left;
    margin-left: 0
}

#rashod .r-col .diag-table {
    width: 60%;
    margin-top: 0;
    padding-top: 10px;
    max-width: none
}

.sharpey-slogan .one-line {
    white-space: nowrap
}

.hide768 {
    display: block
}

.show768 {
    display: none
}

#trackico-rating {
  z-index: 9;
  position: absolute;
  right: 4px;
  top: 5px
}

#trackico-rating a {
  display: block;
  margin-bottom: 16px;
}

#trackico-rating-mob a {
  margin: 0 8px;
}

#trackico-rating img, #trackico-rating-bottom img {
  /* width: 56px; */
  height: 56px;
  margin: 0;
}

#trackico-rating-mob {
  display: none;
}

#trackico-rating-mob a, #trackico-rating-bottom a {
  z-index: 9;
}

#trackico-rating-bottom {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#vergleich-rating-img {
  background-color: white;
}

/* fixes bug with trackico rating button positioned over the menu */
#main-menu {
  z-index: 10;
}

body {
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased !important;
	font-smoothing: antialiased !important;
}

.highcharts-text-outline {
    display: none
}

.highcharts-credits {
    opacity: 0
}

/**
 *	This element is created inside your target element
 *	It is used so that your own element will not need to be altered
 **/
.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}

/**
 *	This is all the elements used to house all text used
 * in time circles
 **/
.time_circles > div {
    position: absolute;
    text-align: center;
}

/**
 *	Titles (Days, Hours, etc)
 **/
.time_circles > div > h4 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Century Gothic', Arial;
}
/**
 *	Time numbers, ie: 12
 **/
.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Century Gothic', Arial;
    font-size: 300%;
    margin-top: 0.4em;
    font-weight: bold;
}

/*********/

.progress-sale {
	width: 100%;
	max-width: 555px;
	/* margin-top: 20px; */
}

#cool-rating {
  margin-top: 60px;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: -4px;
}

.bright-green {
  color: #1e9a1e;
  filter: brightness(135%);
}

.sales-wrap {
	width: 30%;
	margin-left: 70%;
	text-align: right;
	min-width: 157px;
	margin-top: 10px;
}

.btn-sale {
	background-color: #1e9a1e;
	box-shadow: 0 1px 24px 0 rgba(34,172,34,.5);
	padding: 12px 20px 13px;
	border: 2px solid #1e9a1e;
	border-radius: 80px;
	color: #fff;
	line-height: 17px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	display: inline-block;
	width: 147px;
}

.btn-sale:hover {
	box-shadow: none;
}

.progress-wrap {
	width: 70%;
	float: left;
	font-size: 13px;
}

.progress {
	background-color: #fafafa;
	border-radius: 80px;
	position: relative;
	margin: 10px 0 0;
}

.progress #progress-caption {
	width: 100%;
  display: block;
  text-align: center;
  color: #373737;
  position: absolute;
  top: 13px;
	padding-right: 5px;
	font-size: 14px;
}

.progress .cap {
  color: white;
}

.progress-bar {
	background-color: #1e9a1e;
	text-align: right;
	border-radius: 80px 0 0 80px;
	padding: 5px;
	background-image: linear-gradient(315deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-size: 2rem 2rem;
	box-shadow: 0 1px 24px 0 rgba(34,172,34,.5);
	height: 46px;
}

#events .container {
  justify-content: flex-start;
}

#events-text {
  margin-right: 30px;
}

#events img {
  margin: 10px 14px;
  height: 138px;
}

#events p {
  font-size: 23px;
  line-height: 25px;
  margin-top: 16px;
}

@media (min-width:1280px) {
    .h1 {
        font-size: 64px;
        line-height: 72px
    }

    #token {
        padding-bottom: 80px
    }

    #users p.p {
        width: 610px
    }

    #users .sheme2 {
        margin-top: 0;
        margin-left: 100px
    }

    #sites .l-col,#sites .r-col,#token .l-col {
        width: 25%!important;
        min-width: auto!important;
        max-width: none!important
    }

    #sites .r-col,#token .l-col {
        width: 75%!important
    }

    #sites .r-col .p {
        width: 820px;
        margin-top: 10px
    }

    #token .l-col {
        width: 25%!important
    }

    #token .r-col {
        width: 75%!important
    }

    .clock {
        width: 730px;
        margin-left: auto;
        margin-right: auto
    }

    #clockChart,#tokenChart {
        margin-top: 15px;
        width: 800px
    }

    #rashod .l-col,#rashod .r-col,#token .r-col {
        min-width: auto!important;
        max-width: none!important
    }

    #rashod .l-col {
        padding-right: 20px;
        width: 60%!important
    }

    #rashod .r-col {
        width: 40%!important
    }

    #rashod .r-col .sheme2 {
        margin-top: -8px;
        margin-left: -30px;
        margin-right: 30px
    }

    #emission .diag-img {
        width: 490px
    }

    #team,#vikup {
        padding-bottom: 80px
    }

    #vikup .sheme2 {
        float: right;
        margin-top: 10px;
        margin-right: 105px
    }

    #roadmap {
        padding-bottom: 20px
    }

    #add h2 {
        max-width: 1200px
    }

}

@media only screen and (max-width:1152px) and (min-width:991px) {
    .body {
        background-position: 50% 0;
    }

    .head-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .h1 {
        font-size: 64px;
        line-height: 72px
    }

    #token {
        padding-bottom: 80px
    }

    #users p.p {
        width: 590px
    }

    #users .sheme2 {
        margin-top: 0;
        margin-left: 80px
    }

    #sites .l-col,#sites .r-col,#token .l-col {
        width: 25%!important;
        min-width: auto!important;
        max-width: none!important
    }

    #sites .r-col,#token .l-col {
        width: 75%!important
    }

    #sites .r-col .p {
        width: 700px;
        margin-top: 10px
    }

    #token .l-col {
        width: 25%!important
    }

    #token .r-col {
        width: 75%!important
    }

    .clock {
        width: 630px;
        margin-left: auto;
        margin-right: auto
    }

    #clockChart, #tokenChart {
        margin-top: 15px;
        width: 680px
    }

    #rashod .l-col,#rashod .r-col,#token .r-col {
        min-width: auto!important;
        max-width: none!important
    }

    #rashod .l-col {
        padding-right: 20px;
        width: 60%!important
    }

    #rashod .r-col {
        width: 40%!important
    }

    #rashod .r-col .sheme2 {
        margin-top: -8px;
        margin-left: 0;
        margin-right: 0;
		width: 50%;
    }

	#rashod .r-col .diag-table {
		width: 50%;
	}

    #emission .diag-img {
        width: 430px
    }

    #team,#vikup {
        padding-bottom: 80px
    }

    #vikup .sheme2 {
        float: right;
        margin-top: 10px;
        margin-right: 80px
    }

    #roadmap {
        padding-bottom: 20px
    }

    #add h2 {
        max-width: 1200px
    }

    #trackico-rating {
      display: none;
    }

    #trackico-rating-mob {
      display: flex;
      justify-content: flex-start;
    }

    #trackico-rating-mob img {
      width: 56px;
      height: 56px;
    }

    .container-head {
      margin-top: 15px;
    }
}

@media (max-width:991px) {
    .body {
        background-position: 50% 0;
        background-size: 1200px;
        font-size: 14px;
        line-height: 20px
    }

    .head-section {
        height: 800px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .h-nav {
        top: 0;
        padding-right: 0
    }

    .h-menu {
        margin-left: 0;
        background-color: #333;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,.25)
    }

    .nav-link {
        margin-right: 0;
        padding: 10px 20px
    }

    .nav-link.nl-lang {
        padding: 0
    }

    .nav-lang {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-right: 20px;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .h-text-wrap {
        max-width: 480px
    }

    .h1 {
        font-size: 60px;
        line-height: 70px
    }

    .h-form-title {
        margin-top: 8px;
        font-size: 20px;
        line-height: 24px
    }

    .form-btn {
        font-size: 12px
    }

    .text-field {
        width: 320px;
        font-size: 13px;
        line-height: 30px
    }

    .section {
        padding-top: 60px;
        padding-bottom: 80px
    }

    .container.c5 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .h2 {
        font-size: 28px;
        line-height: 32px
    }

    .ui-line.ul2 {
        margin-right: 5px
    }

    .ui-arr {
        margin-right: -4px
    }

    .year-text {
        font-size: 14px;
        line-height: 22px
    }

    .team-item {
        width: 50%;
        margin-top: 40px;
        padding-right: 20px;
        padding-left: 20px
    }

    .menu-btn.w--open {
        background-color: transparent;
        color: #f93
    }

    .h-bot-wrap {
        display: block
    }

    .bg-logo-cont {
        max-width: 600px
    }

    .sb-ico {
        width: 25px
    }

    .tw-ico {
        width: 30px
    }

    .fb-ico {
        width: 14px
    }

    ._4-icons {
        width: 60px;
        height: 240px
    }

    .l-col {
        min-width: 0%;
        padding-right: 0
    }

    .l-col,.l-col.lc2,.l-col.lc22 {
        width: 100%;
        max-width: 100%
    }

    .l-col.lc22 {
        min-height: 1px;
        min-width: 0%
    }

    .r-col {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .r-col.rc3 {
        width: 100%
    }

    .r-col.rc3.rc3-1 {
        padding-left: 40px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .r-col.rc4 {
        width: 100%;
        max-width: 100%
    }

    .r-col.rc-4,.r-col.rc4 {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .big-p {
        margin-top: 20px;
        font-size: 18px;
        line-height: 24px
    }

    .big-p.bp2 {
        font-size: 17px
    }

    .big-p.bp-r {
        margin-top: 0;
        margin-left: 20px;
        font-size: 16px;
        line-height: 20px;
        text-align: left
    }

    .clock {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin-top: 0
    }

    .row-title,.t-percent {
        font-size: 20px;
        line-height: 24px
    }

    .t-percent {
        margin-right: 5px;
        margin-left: 5px
    }

    .row-title {
        width: 110px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .clock-item {
        width: 100px;
        height: 100px;
        margin-right: 20px;
        border-width: 4px
    }

    .clock-time {
        font-size: 28px;
        line-height: 32px
    }

    .row-r-col {
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start
    }

    .p.p2 {
        margin-top: 20px
    }

    .soc-img {
        width: 30px
    }

    .sheme2 {
        display: block;
        margin-top: 50px;
        margin-right: 0;
        margin-left: 0
    }

    #rashodChart,.sheme2.s3 {
        margin-top: 0
    }

    .sheme2.s3 {
        max-width: 300px
    }

    .r-col-adds {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 100%
    }

    .r-col-adds .big-p {
        width: 100%
    }

    .sharpay-img {
        width: 300px;
        height: 300px;
        margin-top: 0;
        margin-right: 20px
    }

    .sharpay-img.si2 {
        width: 480px;
        height: 480px;
        margin-top: 80px
    }

    .diag-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%
    }

    .diag-img {
        width: 100%
    }

    .diag-table {
        margin-top: 40px;
        margin-left: 0
    }

    .sb-cont {
        padding-right: 20px;
        padding-left: 20px
    }

    #token .l-col {
      flex-grow: 1;
    }

    #token .r-col {
      flex-grow: 2;
    }

    #clockChart {
      width: 100%;
    }

    #trackico-rating {
      display: none;
    }

    #trackico-rating-mob {
      display: flex;
      justify-content: flex-start;
    }

    #trackico-rating-mob img {
      width: 56px;
      height: 56px;
    }

    .container-head {
      margin-top: 15px;
    }

    .btn {
        width: 85px;
        margin-right: 10px;
        padding-bottom: 10px;
        font-size: 12px;
        line-height: 16px
    }

    .progress-sale {
      /* margin-top: 60px; */
    }

    #cool-rating {
      font-size: 20px;
      line-height: 24px;
    }
}

@media (max-width:767px) {
    .body {
        background-position: 60% 0;
        background-size: 1000px;
        font-size: 13px;
        line-height: 18px
    }

    .head-section {
        height: auto;
        padding-top: 80px;
        padding-bottom: 80px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .h-nav-logo {
        width: 160px;
        padding-left: 0
    }

    .h-menu {
        background-color: #161616
    }

    .container-head {
        height: auto
    }

    .h1 {
        font-size: 36px;
        line-height: 42px
    }

    .h-subtitle {
        font-size: 14px;
        line-height: 22px
    }


    .h-form-title {
        margin-top: 40px;
        font-size: 18px;
        line-height: 21px
    }

    .form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        max-width: 440px;
        margin-right: auto;
        margin-left: auto;
        padding: 5px 5px 5px 15px;
        background-color: rgba(0,0,0,.05)
    }

    .form-btn {
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 60px;
        background-color: #f93;
        color: #fff;
        font-size: 10px;
        line-height: 16px
    }

    .form-btn:hover {
        background-color: #fff;
        color: #000
    }

    .text-field {
        width: 290px;
        margin-top: 0;
        margin-right: 5px;
        padding-right: 0;
        font-size: 12px;
        line-height: 30px
    }

    .soc-links {
        margin-left: 0
    }

    .soc-links.sl-f {
        display: block;
        margin-right: auto;
        margin-left: auto
    }

    .section {
        padding-top: 30px;
        padding-bottom: 40px
    }

    .section.sf {
        padding-bottom: 20px
    }

    .container.cont2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .container,.container.c5 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .h2 {
        width: 100%;
        max-width: 100%;
        font-size: 21px;
        line-height: 28px
    }

    .h2.h2-2 {
        margin-top: 20px
    }

    .h2-wrap {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    #soc-future,#soc-plugged {
        margin-top: 25px;
        margin-left: 20px
    }

    #rashodChart {
        margin-top: 0
    }

    .user-items {
        margin-top: 40px
    }

    .user-item.ui2 {
        margin-bottom: 40px;
        padding-right: 10px
    }

    .ui-line {
        height: 2px;
        background-size: auto 2px;
        background-repeat: repeat-x
    }

    .ui-line.ul2 {
        margin-top: 0;
        margin-left: 4px
    }

    .ui-line.ul-left {
        top: 18px
    }

    .ui-arr {
        width: 6px;
        margin-top: -2px;
        margin-right: -4px
    }

    .ui-line-over.ulo2 {
        top: 0;
        height: 2px
    }

    .year {
        padding-bottom: 3px;
        font-size: 12px;
        line-height: 24px
    }

    .year-text {
        font-size: 12px;
        line-height: 18px
    }

    .team-cont {
        margin-left: 0;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .team-item {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        text-align: center
    }

    .team-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center
    }

    .team-top-text {
        margin-left: 0
    }

    .name {
        font-size: 20px;
        line-height: 24px
    }

    .team-p,.team-status {
        font-size: 12px;
        text-align: left
    }

    .team-p {
        margin-top: 10px;
        line-height: 16px
    }

    .f-p {
        margin-top: 20px;
        font-size: 9px;
        line-height: 12px
    }

    .success-msg {
        height: 44px;
        padding-top: 14px;
        padding-bottom: 14px
    }

    .error-message,.success-msg {
        font-size: 12px;
        line-height: 16px
    }

    .bg-logo-cont {
        max-width: 480px
    }

    .sharpay-btn {
        max-width: 190px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .sb-text {
        margin-left: 5px;
        font-size: 11px;
        line-height: 14px
    }

    .sb-link {
        width: 30px;
        height: 30px
    }

    .sb-ico {
        width: 18px
    }

    .tw-ico {
        width: 20px
    }

    .fb-ico {
        width: 10px
    }

    ._4-icons {
        width: 40px;
        height: 160px
    }

    .l-col {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .l-col.lc3 {
        width: 100%
    }

    .l-col,.r-col,.r-col.rc3.rc3-1 {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .r-col.rc3.rc3-1 {
        margin-top: 20px;
        padding-left: 0
    }

    .r-col.rc4 {
        padding-left: 0
    }

    .r-col.rc-4,.r-col.rc4 {
        margin-top: 20px
    }

    .big-p {
        font-size: 16px;
        line-height: 20px
    }

    .clock {
        width: 100%;
        max-width: 100%
    }

    .t-percent {
        font-size: 18px
    }

    .row-title {
        font-size: 16px;
        line-height: 20px
    }

    .row-cont {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    #rashod .r-col>div,.row-l-col {
        width: 100%
    }

    .row-r-col {
        padding-top: 0;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .row-r-col,.row-r-col.rr2 {
        margin-left: 0
    }

    .btn-img {
        margin-right: 20px
    }

    .btn-img,.btn-img.bi2 {
        width: 180px;
        margin-top: 20px
    }

    .soc-img {
        margin-top: 10px
    }

    .sheme2 {
        max-width: 320px;
        margin-top: 0
    }

    .sharpay-img {
        display: none
    }

    .sb-cont {
        bottom: 20px;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .sheme2 {
        margin-left: auto;
        margin-right: auto
    }

    #rashod .r-col .sheme2 {
        width: 100%;
        float: none;
        margin-top: 20px
    }

    #rashod .r-col .diag-table {
        padding-top: 0
    }

    #emission .diag-table,#rashod .r-col .diag-table {
        width: 80%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto
    }

    #emission .diag-img {
        margin: 0
    }

    .hide768 {
        display: none
    }

    .show768 {
        display: block
    }

  	.sales-wrap {
  		width: 100%;
  		margin-left: 0;
  		margin-top: 20px;
  	}

  	.progress-wrap {
  		width: 100%;
  		float: none;
  	}

  	.btn-sale {
  		margin: 0 auto;
  		width: 100%;
  		display: block;
  	}

    #cool-rating {
      font-size: 18px;
      line-height: 21px;
      text-align: center;
    }
}

@media (max-width:479px) {
    .body {
        background-position: 89% 0;
        background-size: 800px
    }

    .head-section {
        padding-top: 80px;
        padding-bottom: 60px;
        background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,.63),rgba(0,0,0,.99) 1%,transparent);
        background-image: linear-gradient(180deg,rgba(0,0,0,.63),rgba(0,0,0,.99) 1%,transparent)
    }

    .h-menu {
        background-color: #131313
    }

    .nav-link.nl-lang {
        padding-top: 10px;
        padding-bottom: 10px
    }

    .nav-lang {
        display: none
    }

    .nav-lang.nl-mob {
        display: block
    }

    .h-text-wrap {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .h1 {
        font-size: 30px;
        line-height: 36px
    }

    .h-subtitle,.h1 {
        text-align: center
    }

    .h-btns {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .btn {
        margin-right: 5px;
        margin-left: 5px
    }

    .h-form-title {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .form-block {
        width: 100%;
        max-width: 340px
    }

    .form-block.fbf {
        max-width: 320px
    }

    .form {
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        border-width: 0
    }

    .form-btn {
        height: 40px;
        margin-top: 10px;
        padding-top: 9px;
        padding-bottom: 9px;
        font-size: 12px;
        line-height: 18px
    }

    .text-field {
        width: 100%;
        height: 40px;
        margin-right: 0;
        padding: 10px;
        border-width: 1px;
        border-color: #fff;
        border-radius: 30px;
        background-color: #fff;
        text-align: center
    }

    .soc-links {
        max-width: 210px;
        margin-right: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start
    }

    .soc-links,.soc-links.sl-f {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .soc-link {
        margin-top: 10px;
        margin-right: 7px;
        margin-left: 7px
    }

    .section {
        padding-top: 30px;
        padding-bottom: 40px
    }

    .container.cont2 {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .container,.h2,.h2.h2-2 {
        text-align: center
    }

    .h2-wrap {
        max-width: 320px
    }

    .user-items {
        margin-top: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .user-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        max-width: 320px;
        margin-bottom: 20px;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .user-item.ui2 {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch
    }

    .ui-top {
        margin-right: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .ui-line,.ui-line.ul2 {
        margin-left: 0;
        background-size: 2px
    }

    .ui-line {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
        background-position: 50% 0;
        background-repeat: repeat-y;
        width: 5px;
        height: 40px;
        background-image: url(../images/dot-w2.png)
    }

    .ui-line.ul2 {
        width: 8px;
        height: 100%;
        min-height: 20px;
        background-image: url(../images/dot-y2.png)
    }

    .ui-line.ul-left {
        display: none
    }

    .ui-arr {
        width: 8px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: -10px;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    .ui-arr,.ui-arr.arr-mob {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .ui-line-over {
        display: none
    }

    .year-text {
        margin-top: 0
    }

    .team-item,.team-top {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .team-item {
        margin-top: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .team-top {
        margin-left: 0
    }

    .team-top-text {
        margin-top: 10px
    }

    .team-p,.team-status {
        text-align: center
    }

    .arr-img {
        width: 100%
    }

    .success-msg {
        height: 90px;
        padding-top: 20px;
        padding-right: 0;
        padding-bottom: 20px;
        border-radius: 200px;
        font-size: 16px;
        line-height: 24px
    }

    .error-message,.success-msg {
        text-align: center
    }

    .h-bot-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .bg-logo-cont,.h-bot-wrap {
        max-width: 320px
    }

    .l-col,.r-col,.r-col.rc4 {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .big-p.bp2 {
        font-size: 14px;
        line-height: 21px
    }

    .big-p.bp-r {
        margin-top: 20px;
        margin-left: 0;
        text-align: center
    }

    .clock {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .row-title,.t-percent {
        width: 40px;
        font-size: 14px;
        line-height: 21px
    }

    .row-title {
        width: 80px;
        line-height: 18px
    }

    .clock-item {
        width: 80px;
        height: 80px;
        margin-right: 20px;
        margin-left: 20px
    }

    .row-r-col,.row-r-col.rr2 {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .r-col-adds {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .diag-row {
        text-align: left
    }


    #btn-img-container {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-left: 0px;
    }

    #bi1,#bi2,#bi3,#bi4 {
        min-width: 180px;
        margin-top: 25px
    }

    #bi1,#bi2,#bi3,#bi4,.sheme2 {
        margin-left: auto;
        margin-right: auto
    }

    input.text-field {
        color: #333
    }

    .hide768 {
        display: none
    }

    .show768 {
        display: block
    }

    #add .add-block {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

  #add .add-icon, #add #traffic-icon, #add #usability-icon {
    /* added selectors with ids to reassign rules for large screens */
  	flex-basis: 50px;
  	flex-grow: 0;
  	width: 50px;
  	height: 50px;
  }

  #add #conversion-icon, #add #kpi-icon { /* another dirty fix of .icon-wrapper width */
    margin: 0 10px;
  }

  #add .add-text {
    flex-grow: 1;
    padding: 0px;
    padding-left: 20px;
    text-align: left;
    font-size: 14px;
  }

  #add .r-col.rc-4 { /* making space between all items the same */
    margin-top: 0;
  }

  #trackico-rating-mob {
    justify-content: center;
  }

}

@media (max-width:375px) {

  .btn {
    width: 65px;
    padding: 12px 10px 14px;
  }

}
