.form-control:focus,
textarea.form-control:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
button.:focus  {
	border-color: rgba(255, 151, 51, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 151, 51, 0.6);
	outline: 0 none;
}
.form-control:disabled, .form-control[readonly] {
	border-color: #ced4da !important;
	box-shadow: none !important;
	outline: 0 none !important;
}
input[readonly] {
	box-shadow: none !important;
	border: none !important;
}

body {
    background-color: #373737;
    background-image: url(../../images/hero-bg.jpg);
    background-position: 35% 0;
    background-size: 1440px;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, sans-serif !important;
    color: #efefef;
    font-size: 17px;
}
h1 {
	font-weight: bold;
    font-size: 64px;
    line-height: 72px;
}
h2 {
	font-size: 1.9rem;
}
h2, h3 {
	font-weight: 400;
}
p {
	font-weight: normal !important;
	font-style: normal !important;	
}
a {
	color: #ff9a1e;
	text-decoration: underline;
}
.orange {
    color: #ff9a1e !important;
}
.nav-link {
    color: rgba(255,255,255,.5);
    font-size: 13px;
	text-decoration: none;
}
.nav-link:hover {
    color: #ff9a1e;
}
.input-group {
	border: 2px solid #f93;
	border-radius: 80px;
	padding-left: 10px;
	padding-right: 10px;
	background: #373737CC !important;
}
.input-group input, .input-group button {
	background: none !important;
	border: none !important;
	outline: 0 none !important;
	box-shadow: none !important;	
	font-size: 15px;
	border-radius: 10px;
}
.input-group input {
	color: #efefef !important;
	padding-right: 0px;
	padding-left: 5px;
}
.input-group input.is-invalid {
	color: red !important;
}
.input-group input.is-valid {
	color: #00ce00 !important;
}
.input-group button {
	font-weight: 700;
    text-transform: uppercase;
    color: #f93;
    font-size: 13px;
    line-height: 15px;
	color: #ff9a1e !important;	
}
.form-text {
	font-size: 15px;
}
.mt-10 {
	margin-top: 80px;
}
.container {
	min-height: 100vh;
}
.messages {
	display: none;
}
.error {
	color: red;
}
.ready {
	color: #00ce00;
}
small {
	font-size: 12px;
}
.soc-links img {
	width: 32px;
}
.soc-links img {
	margin: 5px 5px;
}
.small {
	line-height: 120%;
}
ol li, ul li {
	margin-bottom: 1px;
}
ul {
	list-style: none;
}


.modal {
	z-index: 1100;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	display: none;
}
.dialog {
	z-index: 1110;
	background: #373737;
	width: 80%;
	margin: 5% auto 0 auto;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
	border-radius: 10px;
}
#singin-dialog {
    max-width: 500px;
  	min-height: 100px;
}
#singin-dialog h2 {
	text-align: center;
	margin-bottom: 20px;
}
#singin-dialog .row .col p {
	margin: 0 5% 0 5%;
}
#singin-dialog .btn {
    padding: 11px 20px 14px;
    border: 2px solid #f93;
    border-radius: 80px;
    color: #fff  !important;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
	width: 100%;
	margin: 10px 0 20px 0;
	font-weight: normal;
}
#singin-dialog .btn:hover {
	background-color: #f93;
}
#singin-dialog .btn:hover .orange {
	color: #fff  !important;
}
.nav-item:first-child>a {
	padding-left: 0;
}
.nav-item:last-child>a {
	padding-right: 0;
}
.nav-item img {
	width: 24px;
}
.dropdown-menu {	
	min-width: 44px;
	padding: 0;
	margin-left: 4px;
}
.dropdown-menu a {
	padding: 10px;
}
.dropdown-menu a:hover {
	background-color: #373737
}

body>.container {
	opacity : 0;
}

@media (max-width: 768px) {
	.mt-10 {
		margin-top: 30px;
	}
	h1 {
		font-size: 52px;
		line-height: 64px;
	}
	body {
		background-position: 80% 0;
		background-size: 1100px;
	}
	.container {
		background-color: rgba(55, 55, 55, 0.7);
	}
	ol, ol li:last-child {
		margin-bottom: 0;
	}
}


@media (max-width: 576px) {

	h1 {
		font-size: 36px;
		line-height: 48px;
	}
	body {
		background-position: 80% 30px;
		background-size: 720px;
	}
	.container {
		background-color: rgba(55, 55, 55, 0.7);
	}
	/*	
	#sharpay_widget_floating {
		width: 50px !important;
	}
	#sharpay_widget_floating iframe {
		width: 90px !important;
	}
	*/
}


@media (max-width: 320px) {

	h1 {
		font-size: 30px;
		line-height: 38px;
	}
}

